/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.게시글상세화면_프레임 {
  display: flex;
  width: 100%;
  padding: 2.5rem 20rem;
  justify-content: center;
  align-items: center;
}

.게시글상세화면_컨테이너 {
  display: flex;
  max-width: 80rem;
  width: 100%;

  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  flex-shrink: 0;
}

.바디_정보 {
  max-width: 80rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  gap: 1rem;
  align-self: stretch;
}

.프로필and작성일자 {
  display: flex;
  align-items: center;
  gap: 3.375rem;
  align-self: stretch;
}

.프로필 {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.프로필_이미지 {
  width: 1.5rem;
  height: 1.5rem;
}

.프로필_이름 {
  color: var(--gray-700, #5f5f5f);

  /* l_14_20 */
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.작성일자 {
  color: #818181;

  margin-left: auto;
  /* r_14_20 */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

.링크and위치 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
}

.링크,
.위치 {
  width: 1.5rem;
  height: 1.5rem;
}

.바디_이미지 {
  width: 25rem;
  height: 33.1875rem;

  margin-right: auto;
}

.바디_내용 {
  max-width: 80rem;
  width: 100%;
  height: 46.5rem;

  align-self: stretch;

  color: #000;

  /* r_16_24 */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */

  border: none;
}

.바디_동영상 {
  max-width: 80rem;
  width: 100%;
  max-height: 32rem;
  height: fit-content;

  background: var(--gray-50, #f2f2f2);
}

.바디_동영상_유튜브링크 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.하단_하트 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.하단_검정하트 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.하단_검정하트_이미지 {
  width: 1.5rem;
  height: 1.5rem;
}

.하단_검정하트_숫자 {
  color: var(--gray-700, #5f5f5f);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

.하단_빨강하트 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.하단_빨강하트_이미지 {
  width: 1.5rem;
  height: 1.5rem;
}

.하단_빨강하트_숫자 {
  color: var(--gray-700, #5f5f5f);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}

.하단_목록and수정 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.하단_목록으로 {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
}

.하단_수정하기 {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);
}
.imageContainer {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.uploadImage {
  width: 37.5rem;
}
