.boardBody {
  display: flex;
  justify-content: center;

  width: 100vw;
}
.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.headerTitle {
  display: flex;

  min-width: 42.5rem;
  width: 100%;
  margin-top: 2.5rem;
  color: #000;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
}
.boardFrame {
  display: flex;
  flex-direction: column;

  max-width: 80rem;
  width: 100%;
  min-height: 43.5rem;
  height: 100%;
  padding: 1.5rem 3rem;
  /* margin: 2.5rem 20rem; */
  gap: 0.5rem;
  justify-content: center;
  align-content: center;

  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
