/* 모달 나올때마다 쓰는 공통모달그룹 css */
.공통모달그룹 {
    display: none;              /*처음에 페이지가 로드됐을때 안보이게 숨김*/
    position: absolute;         /* 부모요소 기준으로 위치가 잡힘 & 나중에 배경이나 다른 요소 위에 뜨도록 하기위함*/
    top: 0;
    left: 0;
    z-index: 2;
    
}

.공통모달배경 {
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.50);
    opacity: 50%;
}


.일기쓰기모달 {
    position: absolute;
    
    top: calc(50% - 35rem / 2);
    left: calc(50% - 40rem / 2);

    display: flex;
    
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 35rem;

    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    border-radius: 1.5rem;
    background: #FFF;
}

.메인_바디_일기장_일기쓰기 {
    /* background-color: firebrick; */
    padding: 1.5rem;
    width: 100%;
    /* min-width: 17.5rem; */
    max-width: 22.5rem;
    
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 2.5rem;

    margin-left: 1.5rem;
    border-radius: 1rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
}

.일기쓰기_헤더 {
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 35rem;

    display: flex;
    justify-content: space-between;
}

.일기쓰기 {
    color: #000;
    font-size: 1.5rem;
    max-width: fit-content;
    width: 100%;
    align-content: center;
}

.다크모드_토글{
    display: flex;
    gap: 0.5rem;
}

#다크모드라벨 {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem; 
}

.다크모드토글 {
    appearance: none;
    width: 4rem;
    height: 2.4rem;
    padding: 0.2rem;

    border-radius: 10.0rem;
    background: #E4E4E4;
}

.다크모드토글::after {
    display: block;
    content: "";
    width: 2.0rem;
    height: 2.0rem;
    background-color: white;
    border-radius: 50%;

    transition: transform 0.3s;
}

.다크모드토글:checked {
    background-color: #3AD84A;
}

.다크모드토글:checked::after {
    transform: translate(calc(100% - 0.2rem - 0.2rem)); /* 좌우 2px 제외하고 맨 오른쪽으로 이동 */
}


/* -------------------------------------------------------- */
.오늘기분은어떗나요{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.오늘기분은어떗나요_질문 {
    color: #000;
    font-size: 1.25rem;
    width: 100%;
}

.일기쓰기_기분버튼 {
    width: 100%;
    max-width: 37rem;
    display: flex;

    height: 100%;
    gap: 1.25rem;
    flex-wrap: wrap;
    
}
.라디오버튼 {
    max-width: 5.88rem;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;

}

.기분 {
    color: var(--Gray-Gray-800, #333);
    font-size: 1.125rem;
}

.제목과내용{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.메인_바디_일기장_일기쓰기_제목 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.메인_바디_일기장_일기쓰기_제목텍스트 {
    color: var(--Gray-Gray-800, #333);
    font-size: 0.875rem;
    font-style: normal;
    width: 100%;
}

.제목을입력해주세요{
    width: 100%;
    height: 3rem;
    display: flex;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    /* align-self: stretch; */
}


.메인_바디_일기장_일기쓰기_내용{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.메인_바디_일기장_일기쓰기_내용텍스트 {
    color: var(--Gray-Gray-800, #333);
    font-size: 0.875rem;
    
    width: 100%;

}
.내용을입력해주세요{
    display: flex;
    width: 100%;
    height: 8rem;
    padding: 0.75rem 1rem;
    align-items: center;
    gap: 0.625rem;
  
    border-radius: 0.5rem;
    border: 0.0625rem solid var(--Gray-Gray-200, #D4D3D3);
    background: var(--Gray-W, #FFF);
    /* align-self: stretch; */
}


.일기쓰기_닫기등록버튼 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.메인_바디_일기장_일기쓰기_닫기{
    display: flex;
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0.5rem;
    border: 1px solid var(--ay-B, #000);
    background: var(--Gray-W, #FFF);

    color: var(--Gray-Gray-900, #1C1C1C);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;

}

.메인_바디_일기장_일기쓰기_등록하기{
    display: flex;
    height: 3rem;
    width: 6.5rem;
    padding: 0.5rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
   
    border-radius: 0.5rem;
    background: var(--Gray-Gray-300, #C7C7C7);

    color: var(--Gray-Gray-50, #F2F2F2);
    font-size: 1.125rem;
    color: var(--Gray-Gray-50, #F2F2F2);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;

    border: none;
    }
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ일기등록취소 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.일기등록취소모달 {
    position: absolute;

    top: calc(50% - 12.5rem / 2);
    left: calc(50% - 30rem / 2);

    width: 30rem;
    height: 12.5rem;

    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2.5rem;

    border-radius: 1.5rem;
    background: #FFF;
}

.일기등록취소_텍스트 {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.일기등록취소_텍스트_타이틀 {
    width: 27rem;
    width: 100%;
    height: 1.5rem;

    color: #000;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: -0.015rem;
}

.일기등록취소_텍스트_내용 {
    width: 27rem;
    width: 100%;
    height: 1.5rem;

    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.0125rem;
}
.일기등록취소_버튼{
    display: flex;
    gap: 1.5rem;
}


#계속작성 {
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    text-align: center;

    border-radius: 0.5rem;
    border: 1px solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);

    color: var(--Gray-Gray-900, #1C1C1C);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;
}

#등록취소 {
    
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    text-align: center;

    border-radius: 0.5rem;
    background: var(--Gray-B, #000);

    color: var(--Gray-Gray-50, #F2F2F2);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ일기등록완료 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

/* .일기등록완료모달 {
    display: flex;
    width: 100%;
    min-width: 30rem;
    max-width: 47.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
} */

.일기등록완료모달 {
    position: absolute;

    top: calc(50% - 12.5rem / 2);
    left: calc(50% - 30rem / 2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 30rem;
    min-width: 30rem;
    max-width: 47.5rem;
    height: 12.5rem;

    gap: 2.5rem;

    border-radius: 1.5rem;
    background: #FFF;

}

.일기등록완료_텍스트_타이틀 {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: -0.015rem;
}

.일기등록완료_텍스트_내용 {
    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.0125rem;
}


.일기등록완료모달_텍스트 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 30rem;
    min-width: 30rem;
    max-width: 47.5rem;
}

#일기등록완료_확인 {
    max-width: 27rem;
    width: 100%;
    height: 3rem;

    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    background: var(--Gray-B, #000);

    color: var(--Gray-W, #FFF);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;
}

/* 
#일기등록완료_확인 {
    display: flex;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    justify-content: center;
    align-items: center;
} *

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ일기삭제 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.일기삭제모달 {
    position: absolute;

    top: calc(50% - 12.5rem / 2);
    left: calc(50% - 30rem / 2);

    display: flex;
    flex-direction: column;

    width: 30rem;
    height: 12.5rem;
    padding: 1.5rem;

    gap: 2.5rem;

    border-radius: 1.5rem;
    background: #FFF;

}

.일기삭제_텍스트 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 27rem;
}

.일기삭제_텍스트_타이틀 {
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem; /* 100% */
    letter-spacing: -0.015rem;
}

.일기삭제_텍스트_내용 {
    color: var(--Gray-Gray-800, #333);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.0125rem;
}

#일기삭제_취소 {
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    text-align: center;

    border-radius: 0.5rem;
    border: 1px solid var(--Gray-B, #000);
    background: var(--Gray-W, #FFF);

    color: var(--Gray-Gray-900, #1C1C1C);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;
}

#일기삭제_삭제 {
    
    width: 6.5rem;
    height: 3rem;
    padding: 0.5rem 0.625rem;
    text-align: center;

    border-radius: 0.5rem;
    background: var(--Gray-B, #000);

    color: var(--Gray-Gray-50, #F2F2F2);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: -0.01125rem;
}

.일기삭제_취소삭제버튼 {
    width: 100%;
    height: 100%;

    display: flex;
    
    gap: 1.5rem;

    justify-content: center;
    align-items: center;

}