.commentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.5rem 20rem;
  align-items: center;
}

.commentBody {
  width: 100%;
  max-width: 80rem;
  display: flex;
  justify-content: center;
}

.commentFrame {
  width: 100%;
  max-width: 80rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1.5rem;
  align-self: stretch;
}

.commentTitle {
  width: 100%;
  max-width: 80rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.star {
  width: 100%;
  max-width: 80rem;
}

.commentInputFrame {
  display: flex;
  width: 40rem;
  align-items: flex-start;
  gap: 1rem;
}

.inputLabel {
  width: 19.5rem;
  /* max-width: 19.5rem; */

  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;

  color: var(--gray-800, #333);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.inputWrite {
  width: 100%;
  max-width: 19.5rem;
  display: flex;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  border-radius: 0.5rem;
  background: var(--Gray-W, #fff);
}

.inputEdit {
  width: 100%;
  max-width: 19.5rem;
  display: flex;
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);

  color: var(--gray-800, #333);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.commentInput {
  resize: none;
  width: 100%;
  max-width: 80rem;
  height: 9rem;
  padding: 0.75rem 1rem;

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.required {
  color: var(--red, #f66a6a);

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.showCancelButton {
  display: flex;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);

  color: var(--gray-B, #000);
  text-align: center;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 133.333% */
}
.hiddenCancelButton {
  display: none;
}
.commentWriteButton:disabled,
.commentEditButton:disabled {
  display: flex;
  margin-left: auto;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: var(--gray-300, #c7c7c7);

  color: var(--gray-100, #e4e4e4);
  text-align: center;

  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.commentWriteButton {
  display: flex;
  margin-left: auto;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  background: #2974e5;

  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.commentEditButton {
  display: flex;
  margin-left: auto;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  background: var(--gray-B, #000);

  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}
