.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.gap {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.gap24 {
  width: 100%;
  height: 24px;
  background-color: #f0f0f0;
}

.title {
  width: 100%;
  height: 96px;
  background-color: #e0e0e0;
}

.voucherInfo {
  width: 100%;
  height: 480px;
  background-color: #d0d0d0;
}

.voucherDetail {
  width: 100%;
  height: 40px;
  background-color: #c0c0c0;
}

.voucherLocation {
  width: 100%;
  height: 48px;
  background-color: #b0b0b0;
}

.productList {
  width: 100%;
  height: 316px;
  background-color: #a0a0a0;
}

