.searchBarFrame {
  display: flex;
  min-width: 40rem;
  max-width: 80rem;
  width: 100%;
  height: 3rem;

  align-items: center;
  align-content: center;
  gap: 0.5rem;
  align-self: stretch;
  flex-wrap: wrap;
}

.datePicker {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}
.keywordBar {
  display: flex;
  max-width: 40rem;
  width: 100%;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;

  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}
.keywordBarInput {
  width: 100vw;

  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}
.searchButton {
  display: flex;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: var(--gray-B, #000);
  color: #fff;
  text-align: center;
  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.writeButton {
  display: flex;
  max-width: 10.14rem;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  margin-left: auto;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: #2974e5;

  color: #fff;
  text-align: center;

  font-family: "Pretendard Variable";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}
