.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.gap {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

.title {
  width: 100%;
  height: 36px;
  background-color: #e0e0e0;
}

.userInfo {
  width: 100%;
  height: 332px;
  background-color: #d0d0d0;
}

.buttonTabs {
  width: 100%;
  height: 40px;
  background-color: #c0c0c0;
}

.gapSmall {
  width: 100%;
  height: 24px;
  background-color: #f0f0f0;
}

.searchbar {
  width: 100%;
  height: 48px;
  background-color: #b0b0b0;
}

.searchbarLarge {
  width: 100%;
  height: 656px;
  background-color: #a0a0a0;
}
