@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer base {
  :where(
      button,
      a,
      [role="button"],
      input[type="button"],
      input[type="submit"],
      input[type="file"],
      label,
      .ant-btn
    ) {
    cursor: pointer;
  }
  :where(button:disabled, .ant-btn:disabled) {
    cursor: not-allowed;
  }
}
@layer utilities {
  .clickable {
    cursor: pointer;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #000;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

hr {
  max-width: 80rem;
  width: 100%;

  border: none;
  height: 0.125rem;
  background: var(--gray-100, #e4e4e4);
}
