.BoardFrame {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.BoardFrame_Header {
  display: flex;
  padding: 1rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
}

.BoardFrame_Header_number {
  display: flex;
  max-width: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.BoardFrame_Header_title {
  display: flex;
  max-width: 53rem;
  width: 100%;
  height: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  flex: 1 0 0;
}

.BoardFrame_Header_writer {
  display: flex;
  max-width: 6.25rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.BoardFrame_Header_date {
  display: flex;
  max-width: 6.25rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.FetchBoardFrame {
  max-width: 74rem;
  width: 100%;
  display: flex;
  gap: 0.75rem;
  align-self: stretch;
}

.FetchBoard {
  max-width: 74rem;
  width: 100%;
  height: 34.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.FetchBoard_list {
  display: flex;
  width: 100%;
  min-width: 74rem;
  height: 2.75rem;
  padding: 0.75rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;

  border-radius: 0.5rem;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

.FetchBoard_number {
  display: flex;
  max-width: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  overflow: hidden;
  color: var(--Gray-50, #919191);
  text-align: center;

  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.FetchBoard_title {
  display: flex;
  max-width: 53rem;
  width: 100%;
  height: 1.25rem;
  justify-content: flex-start;
  /* align-items: center; */
  /* gap: 100px; */

  overflow: hidden;
  /* color: var(--Gray-90, #1c1c1c); */

  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}
.FetchBoard_title span {
  display: inline;
  margin: 0;
  padding: 0;
}

.FetchBoard_writer {
  display: flex;
  max-width: 6.25rem;
  width: 100%;
  justify-content: center;
  gap: 0.625rem;

  overflow: hidden;
  color: var(--Gray-80, #333);
  text-align: center;

  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.FetchBoard_date {
  display: flex;
  max-width: 6.25rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  overflow: hidden;
  color: var(--Gray-50, #919191);
  text-align: center;

  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem; /* 142.857% */
}

.hidden {
  visibility: hidden;
}

.showButton {
  visibility: visible;
}

.pagination {
  display: flex;
  max-width: 74rem;
  width: 100%;
  height: 2rem;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
}
