.게시물등록_frame {
  display: flex;
  /* max-width: 120rem; */
  width: 100%;
  padding: 0 20rem;
  justify-content: center;
  align-items: center;
}

.게시물등록_container {
  display: flex;
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  flex-shrink: 0;
}

.게시물등록_사용자인풋 {
  max-width: 80rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 0.5rem;
  /* flex: 1 0 0; */
}

.게시물등록_라벨 {
  display: flex;
  /* align-items: flex-start; */
  gap: 0.25rem;
  /* align-self: stretch; */

  color: var(--gray-800, #333);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.required {
  color: red;

  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.게시물등록_플레이스홀더_내용 {
  resize: none;
  max-width: 80rem;
  width: 100%;
  height: 21rem;

  color: var(#333);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.게시물등록_플레이스홀더 {
  align-self: stretch;
  max-width: 80rem;
  width: 100%;
  height: 3rem;

  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  color: var(#333);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.게시물등록_수정플레이스홀더 {
  align-self: stretch;
  max-width: 80rem;
  width: 100%;
  height: 3rem;

  display: flex;
  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  color: var(--Gray-Gray-400, #ababab);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */

  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
}

.게시물등록_작성자and비밀번호 {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}

.게시물등록_주소인풋 {
  max-width: 80rem;
  width: 100%;
  height: 12rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.게시물등록_주소_상단 {
  display: flex;
  max-width: 13.75rem;
  width: 100%;

  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.게시물등록_주소인풋_라벨 {
  color: var(--gray-800, #333);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.게시물등록_주소인풋_우편번호 {
  max-width: 13.75rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.게시물등록_주소인풋_플레이스홀더 {
  display: flex;

  max-width: 5.125rem;
  width: 100%;
  height: 3rem;

  padding: 0.75rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;

  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */

  border-radius: 0.5rem;
  border: 1px solid var(--Gray-Gray-200, #d4d3d3);
  background: var(--Gray-W, #fff);
}

.게시물등록_주소인풋_우편번호버튼 {
  display: flex;

  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);

  color: var(--gray-B, #000);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.사진첨부인풋 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.게시물등록_사진첨부 {
  display: flex;

  max-width: 80rem;
  width: 100%;

  align-items: flex-start;
  gap: 1rem;
}

.게시물등록_사진첨부_박스 {
  display: flex;
  width: 10rem;
  height: 10rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  background: var(--gray-50, #f2f2f2);
  position: relative;
  z-index: 1;
}

.게시물등록_사진첨부_박스 p {
  width: 8.3125rem;
  height: 1.5rem;

  color: var(--gray-600, #777);
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.게시물등록_사진첨부_박스 input {
  display: none;
}

.게시물등록_취소and등록하기버튼 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.취소버튼 {
  display: flex;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-B, #000);
  background: var(--gray-w, #fff);

  color: var(--gray-B, #000);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.등록하기버튼 {
  display: flex;
  height: 3rem;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  background: #2974e5;

  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.등록하기버튼:disabled {
  border: nones;
  border-radius: 0.5rem;
  background: var(--gray-300, #c7c7c7);

  color: var(--gray-100, #e4e4e4);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem; /* 133.333% */
}

.에러메세지_스타일 {
  color: var(--red, #f66a6a);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.uploadImage {
  width: 10rem;
  height: 10rem;
  /* position: absolute;
  z-index: 3; */

  /* object-fit: cover;s */
}
.plusIcon {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeIcon {
  position: absolute;
  font-size: 1.2rem;
  z-index: 4;
  color: #777;
  top: 0.8rem;
  right: 0.8rem;
  display: none;
}
.게시물등록_사진첨부_박스:hover .closeIcon {
  display: block;
}
