.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.gap {
  width: 100%;
  height: 40px;
  background-color: #f0f0f0;
}

/* title 영역 */
.title {
  width: 100%;
  height: 36px;
  background-color: #e0e0e0;
}

/* userInfo 영역 */
.userInfo {
  width: 100%;
  height: 332px;
  background-color: #d0d0d0;
}

/* changePassword 영역 */
.changePassword {
  width: 100%;
  height: 296px;
  background-color: #c0c0c0;
}
